* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Arial";
  display: flex;
  justify-content: center;
}

.container {
  width: 70%;
}

table {
  width: 100%;
  margin: 1rem 0;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 0.75rem;
}

caption {
  text-align: right;
  font-style: italic;
}

thead {
  background-color: #3399ff;
  height: 4rem;
  font-weight: 700;
  font-size: 1.25rem;
}

.vertical {
  transform: rotate(-90deg);
  min-width: 3rem;
}

tbody {
  background-color: #ffffff;
  color: #000000;
}

tbody tr td:first-child {
  width: 5%;
  text-align: center;
}

tbody tr td:nth-child(3) {
  width: 12%;
  text-align: center;
}

tbody tr:nth-last-child(16n) {
  background-color: #cccccc;
}

.myVariant {
  color: #990000;
}

tfoot {
  background-color: #003399;
  color: #fff;
}


@media (max-width: 500px) {
  body {
    font-size: 12px;
  }
  .container {
    width: 100%;
    overflow: hidden;
    padding: 0 16px;
  }
  thead {
    font-size: 1rem;
  }
  td {
    padding: 0.25rem;
  }
}